body
{
	background-color: #f9f4ed;
}

#center 
{
	background-color: #f9f1e6;
	text-align: center;
	margin-left: auto;
 	margin-right: auto;
 	width: ...;
}

.nav
{
    border-bottom: 1px solid #716558;
}

.active{
	color: black;
}
